<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://nz.net.ultraq.thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <title>Users</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Users</h1>
    <table th:if="!${users.isEmpty()}" class="table mt-3">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Type</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td><a th:href="@{/users/{userId}(userId=${user.userId})}"
                   th:text="${user.userName}"></a></td>
            <td th:text="${user.userType}"></td>
            <td th:each="role : ${user.userRoles}" th:text="${role.name()}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>