<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </th:block>
</head>
<body>
</body>
</html>