<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://nz.net.ultraq.thymeleaf"
      layout:decorate="~{/layout/layout}">
<head>
    <title>Registration</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row min-vh-100">
        <div class="col-6 align-content-center"></div>
        <div class="col-6 align-content-center">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="text-center">Payments<sup class="sup">&reg;</sup></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-justified mb-3">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="false" th:href="@{/users/login}">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="true" th:href="@{/users/register}">Sign Up</a>
                                </li>
                            </ul>
                            <form method="post" th:action="@{/users/register}">
                                <div class="form-outline mb-3">
                                    <label for="userName" class="form-label">Username</label>
                                    <input type="text" name="userName" id="userName" class="form-control" required>
                                </div>
                                <div class="form-outline mb-3">
                                    <label for="userPassword" class="form-label">Password</label>
                                    <input type="password" name="userPassword" id="userPassword" class="form-control" required>
                                </div>
                                <div class="d-grid mt-4">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>